body {
  background-color: #332F3E;
}

h2 {
  color: white;
}

#intro1 {
  animation-delay: 0.75s;
}

#intro2 {
  animation-delay: 2.75s;
}

#intro3 {
  animation-delay: 5s;
}

#contact-link {
  margin-left: 4px;
}

a {
  display: inline-block;
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  z-index: 0;
  margin-right: 4px;
  }

  a::before {
    position: absolute;
    content: '';
    background-color: rgba(0,0,0,0.2);
    background-position: 50% 0;
    left: -5px;
    right: -5px;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    z-index: -1;
    visibility: visible;
    opacity: 1;
  }

  a:hover::before {
    background-color: rgba(0,0,0,0.3);
    visibility: visible;
  }

  a:active::before {
    opacity: 1;
    visibility: visible;
  }

  ::selection {
    background-color: #aaf2ac;
}
